body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fff;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

body.tema-escuro {
    background-color: #121212;
    color: #f5f5f5;
}

body.tema-escuro .postit,
body.tema-escuro .listas-cadastradas {
    background-color: #3cfd6c;
    color: #000000;
}

body.tema-escuro li {
    background-color: #333;
    color: #f5f5f5;
}

body.tema-escuro .botao {
    background-color: #444;
    color: #fff;
}

body.tema-escuro .botao:hover {
    background-color: #666;
}

header {
    height: 56px;
    padding: 0 16px 0 100px;
    background: #fff;
    border-bottom: 1px solid #c4c4c4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}



.theme-checkbox {
    --toggle-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4em;
    height: 2em;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}

.theme-checkbox::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 1.5em - 0.25em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}

.box-header {
    background-color: #3cfd6c;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 56px;
    background: #3cfd6c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 16px;
    z-index: 1000;
}

.theme-checkbox {
    margin-left: auto;
    cursor: pointer;
}

.nav-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

li button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.menu {
    position: fixed;
    top: 56px;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #3cfd6c;
    padding: 10px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

body.menuOpen .menu {
    transform: translateX(0);
}

.buttonMenu {
    width: 40px;
    height: 40px;
    background: rgba(60, 64, 67, 0.08);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.logo {
    height: 245px;
    width: auto;
    object-fit: contain;
}

.nav-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    gap: 20px;
}

nav ul.menu li a {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
}

nav ul.menu li:hover {
    background: #2e2c2c;
    color: rgb(255, 248, 248);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 70px;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.postit {
    max-width: 400px;
    flex: 1;
    background: #b5f4bc;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.postit button {
    cursor: pointer;
    background: #5f6368;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.postit button:hover {
    background: #3c4043;
}

.botao {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    background: #5f6368;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.botao:hover {
    background: #3c4043;
}

.listas-cadastradas {
    flex: 1;
    background: #b5f4bc;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.listas-cadastradas ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.listas-cadastradas input,
.listas-cadastradas button {
    margin: 10px;
    padding: 10px;
    width: 500px;
    box-sizing: border-box;
}

.listas-cadastradas input {
    margin: 5px 0px;
    padding: 8px;
}

.listas-cadastradas button {
    cursor: pointer;
    background: #5f6368;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 8px;
}

.listas-cadastradas button:hover {
    background: #3c4043;
}

input,
#adicionar {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
}

.lista-tarefas {
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    background: #000000;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    height: auto;
}

/* === AJUSTES DE LI E BOTOES === */
.lista-tarefas li,
#outras-listas li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 310px;
    background: #858087;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
}

li span,
li input {
    flex: 1;
    min-width: 0;
    margin-right: 8px;
}

.acoes {
    display: flex;
    flex-shrink: 0;
    gap: 5px;
}

.acoes button {
    background: white;
    border: none;
    cursor: pointer;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0px;
}

.acoes img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

/* === FIM DO AJUSTE === */
#outras-listas {
    list-style: none;
    padding: 0;
    margin: 5px 0px 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.carrossel-listas {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background: #f4f4f4;
    padding: 10px 0;
}

.itens-carrossel {
    display: flex;
    gap: 40px;
    animation: mover 12s linear infinite;
}

.carrossel-item {
    flex: 0 0 auto;
    background: #000000;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: #3cfd6c; 
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #333;
    gap: 5px; 
  }
  
  .footer .copyright-img {
    width: 20px; 
    height: 20px;
  }

@keyframes mover {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.carrossel-item:hover {
    background-color: #3cfd6c;
}

@media (max-width: 768px) {
    .conteudo {
        flex-direction: column;
        align-items: center;
    }

    .postit,
    .listas-cadastradas {
        width: 90%;
        max-width: none;
    }

    .menu {
        width: 70%;
    }
}